@page "/"

@using client.Models;
@using client.Services;

@inject IListingService listingService;
@inject INeighbourhoodService neighbourhoodService;

<PageTitle>Index</PageTitle>


@if (_listings == null || _neighbourhoods == null)
{
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
else
{
    <h2>Listings</h2>
    <h2>Listing count: @_listings.Count</h2>
    <hr />

    <h2>Neighbourhoods</h2>
    <h2>Neighbourhood count: @_neighbourhoods.Count</h2>
    // Print all neighbourhoods in a responsive table
    <ul>
    @foreach (var n in _neighbourhoods)
        {
            if (n.Name != null && n.Name.Length > 2)
            {
                <li>@n.Name</li>
            }
        }
    </ul>
    <hr />

}

@code
{
    private List<Listing>? _listings { get; set; }
    private List<Neighbourhood>? _neighbourhoods { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _listings = await listingService.Get(null, null, null, null, null);
        _neighbourhoods = await neighbourhoodService.Get();

        await base.OnInitializedAsync();
    }
}
