@page "/statistics"
@attribute [Authorize(Roles = "[\"admin\"]")]


@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using client.Models;
@using client.Services;
@using client.Components;

@inject IStatisticsService statisticsService;

<PageTitle>Statistics</PageTitle>

@if (_error == null && (_averageAvailabilityPerNeighbourhood == null || _averageBedsPerNeighbourhood == null ||
_averagePricePerNeighbourhood == null || _listingCountPerNeighbourhood == null))
{
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (_error != null)
{
    <Error Message="@_error" />
}
else
{
    <div class="container h-100">
        <h1>Statistics</h1>

        <div class="row">
            <div class="col">
                <h2>Average Availability</h2>
                <PieChart title="Average availability per neighbourhood" labels="@_averageAvailabilityPerNeighbourhood?.Select(l => l.Neighbourhood).ToArray()"
                data="@_averageAvailabilityPerNeighbourhood?.Select(l => Convert.ToInt32(l.AverageAvailability)).ToArray()" />
            </div>

            <div class="col">
                <h2>Average Beds</h2>
                <LineChart title="Average beds per neighbourhood" labels="@_averageBedsPerNeighbourhood?.Select(l => l.Neighbourhood).ToArray()"
                data="@_averageBedsPerNeighbourhood?.Select(l => Convert.ToInt32(l.AverageBeds)).ToArray()"></LineChart>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Average Price</h2>
                <LineChart title="Average price per neighbourhood" labels="@_averagePricePerNeighbourhood?.Select(l => l.Neighbourhood).ToArray()"
                data="@_averagePricePerNeighbourhood?.Select(l => Convert.ToInt32(l.AveragePrice)).ToArray()"></LineChart>
            </div>

            <div class="col">
                <h2>Listing count</h2>
                <PieChart title="Listing count per neighbourhood" labels="@_listingCountPerNeighbourhood?.Select(l => l.Neighbourhood).ToArray()"
                data="@_listingCountPerNeighbourhood?.Select(l => l.Count).ToArray()" />
            </div>
        </div>
    </div>
}

@code
{
    private List<NeighbourhoodAverageAvailability>? _averageAvailabilityPerNeighbourhood { get; set; }
    private List<NeighbourhoodAverageBeds>? _averageBedsPerNeighbourhood { get; set; }
    private List<NeighbourhoodAveragePrice>? _averagePricePerNeighbourhood { get; set; }
    private List<NeighbourhoodListingCount>? _listingCountPerNeighbourhood { get; set; }
    private string? _error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {

            _averageAvailabilityPerNeighbourhood = await statisticsService.GetAverageAvailabilityPerNeighbourhood();
            _averageBedsPerNeighbourhood = await statisticsService.GetAverageBedsPerNeighbourhood();
            _averagePricePerNeighbourhood = await statisticsService.GetAveragePricePerNeighbourhood();
            _listingCountPerNeighbourhood = await statisticsService.GetListingCountPerNeighbourhood();
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }

        await base.OnInitializedAsync();
    }
}
